* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #000;
  color: #fff;
}
body {
  font-family: "Libre Baskerville", serif;
}
#main {
  width: 50%;
  margin-top: 30px;
  margin-left: 25%;
  text-align: center;
}
#main img {
  border: 5px solid #fff;
  width: 70%;
}
#main h1{
  text-transform: upppercase;
}
#main p {
  font-weight: lighter;
  font-style: italic;
  padding-top: 10px;
}
